body {
    background-color: #3CBBB1;
}
#Nome {
    font-family: monospace, sans-serif;
    text-align: center;
}
#Descricao {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 190px;
    position: absolute;
    top: 20%;
}    
em {
    font-weight: bold;
}
.unix {
    font-size: 15px;
}
.bash {
    font-size: 20px;
}
.github {
    font-size: 25px;
}
.html {
    font-size: 30px;
}

#minha-foto {
float: left;
height: 240px;
padding: 10px;
background-color: rgb(5, 49, 59);
}

.image-container {
    height: 275px;
}

